@model TotalTeamDesigns.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            
        </dt>

        <dd>
            <img src="~/Content/images/@Model.ImageUrl" alt="@Model.Description" style="width: 200px; height: 200px;" />
          
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPrice)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Add to Cart", "AddToCart", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>